
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f9f9f9;
}
.Header{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Main{
    height: 80vh;
    
    max-width: 100%;
}

.Product-btn{
    width: 7rem;
    height: 2rem;
    background-color: black;
    color: #f9f9f9;
    border: none;
}

.Product-details{
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}
.Product-author{
    font-weight: 200;
    margin-bottom: -40px;
}



/* para que funcione los botones de los muebles
*/

.Tab-content{
    display: none;
    
}

.Tab-content.isActive{
    margin: 4rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}

.Tabs-a.isActive{
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-top: 1px solid black;
    width: 50%;
    display: inline;
}

/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #fdfdfc;
    width: 100%;
    margin-top: 50px;
    
    
}
.Tabs-a{
    text-decoration: none;
    padding: 70px;
    color: rgb(117, 113, 113);
    

    
}