
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.Header .Main .Footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

}
.Header{margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
.Main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

.Product-btn{
    width: 7rem;
    height: 2rem;
    background-color: black;
    color: #f9f9f9;
    border: none;
}

.Product-details{
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}
.Product-author{
    font-weight: 200;
    margin-bottom: -40px;
}



/* para que funcione los botones de los muebles
*/

.Tab-content{
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease, visibility 1s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.Tab-content.isActive{
    margin: 4rem auto;
    max-width: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(20%);
}

.Tabs-a.isActive{
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-top: 1px solid black;
    width: 50%;
    display: inline;
}

/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #fdfdfc;
    width: 100%;
    margin-top: 50px;
    
    
}
.Tabs-a{
    text-decoration: none;
    padding: 70px;
    color: rgb(117, 113, 113);
    

    
}